// Style for homepage components goes here.
.main.ms-main {
  @include mq('tablet', max) {
    position: relative;
    height: 100vh;
    padding-top: 54px;
  }
}
.mdm {
  &-bg {
    &__holder {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        object-position: left center;
      }
    }
  }
  &-img {
    &__holder {
      &.sm {
        position: absolute;
        font-size: 0;
        bottom: 100px;
        right: 300px;
        @include mq('tablet', max) {
          bottom: 70px;
          right: 100px;
        }
        img {
          max-height: 100px;
        }
      }
      &.md {
        width: 100%;
        margin-left: auto;
        max-width: 50vw;
        text-align: center;
        @include mq('tablet', max) {
          max-width: initial;
        }
        img {
          max-height: 50vh;
          @include mq('tablet', max) {
            max-height: 30vh;
          }
        }
      }
    }
  }
  &-content {
    &__holder {
      .btn {
        position: absolute;
        top: 50%;
        left: calc(100% - 270px);
        transform: translateY(-50%);
        @include mq('tablet', max) {
          left: 20px;
        }
      }
    }
    &__desc {
      position: absolute;
      top: 120px;
      max-width: 250px;
      @include mq('tablet', max) {
        top: 20px;
        max-width: 200px;
      }
      a {
        color: inherit;
        font-style: italic;
      }
    }
  }
}
.ms {
  &-home {
    @include mq('tablet', max) {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  &-left {
    .mdm-content__desc {
      left: calc(50vw - 270px);
      @include mq('tablet', max) {
        left: initial;
        right: 20px;
      }
    }
  }
  &-right {
    .mdm-content__desc {
      right: 20px;
    }
    .mdm-bg {
      &__holder {
        img {
          object-position: right center;
        }
      }
    }
  }
}