// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: $text_color;
  background-color: $white;
  @include bodyText();
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
*::-webkit-scrollbar {
  display: none;
}
a,
button,
.btn {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a {
  color: $text_color;
}

img {
  max-width: 100%;
}

main {
  max-width: 100%;
}

hr {
  border-top: 1px solid rgba(112, 112, 112, 0.6);
  border-bottom: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

input, button, textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
